.movie__error{
    width: 300px;
    text-align: center;
    margin: 0 auto;
    animation-name: animation-error;
    animation-duration: 1s;
}

@keyframes animation-error {
    0% {
        padding-left: 15px;
        padding-right: 0px;
    }
    25% {
       padding-right: 15px;
    }
    50% {
        padding-left: 15px;
        padding-right: 0px;
    }
    75% {
        padding-right: 15px;
        padding-left: 0px;
    }
    100% {
        padding-right: 0px;
        padding-left: 0px;
    }
}