@import url(../../vendor/fonts/inter.css);
.page {
    background-color:white;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    height: 100%;
    color:black;
}



*{
    box-sizing: border-box;
}
