.menu{
    color: black;
    display: flex;
    margin-right: 70px;
}

.menu_profile{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu__profile{
    width: 30%;
    display: flex;
}

.menu__item{
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.menu__item_films{
    margin-left: 13%;
    margin-right: 5%;

}

.menu__item_save-films{
    
}

.menu__item_green{
    width: 76px;
    height: 32px;
    border-radius: 3px;
    margin-left: 30px;
    background-color:#2BE080;
}

.menu__item_profile{
    width: 100px;
    height: 32px;
    border-radius: 3px;
    background-color:#F9F9F9;
}

