.menu{
    display: flex;
    margin-right: 70px;
}

.menu__item{
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.menu__profile{
    position: absolute;
    top: 40%;
    left: 12%;
    width: 20%;
    display: flex;
}

.menu__item_films{
  margin-right: 15px;
}

.menu__item_save-films{

}

.menu__item_register{
  letter-spacing: -0.5px;
}


.menu__item_green{
    width: 76px;
    height: 32px;
    border-radius: 3px;
    margin-left: 30px;
    background-color:#2BE080;
}

.menu__item_profile{
    width: 100px;
    height: 32px;
    border-radius: 3px;
    background-color:#F9F9F9;
    font-size: 14px;

}


@media screen and (max-width:1279px) {
    .menu__profile{
        width: calc(20vw + 10vw);
        left: calc(12% + 5%)
    }
}

@media screen and (max-width:768px) {
    .menu {
        margin-right: 2px; 
        margin-bottom: 5px;
    }

    .menu__item_green{
        margin-left: 30px;
    }
    .menu__profile{
      visibility: hidden;
    }
    .menu__item_profile{
        visibility: hidden;
    }
    
}

@media screen and (max-width:320px) {
    .menu {
        margin-right: 2px; 
        margin-bottom: 0px;
    }

    .menu__item_green{
        margin-left: 13px;
        width: 54px;
        height: 26px;
    }
    .menu__item{
        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
        letter-spacing: 0px;
    }
}
