.menu-right {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 200%;
    left: 0px;
}

.menu-right__main {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 47.5%;
    right: 0;
    width: 68%;
    height: 50.5%;
    background-color: white;
}

.menu-right__close {
    cursor: pointer;
    position: absolute;
    width: 18px;
    height: 26px;
    background-color: white;
    border: none;
    background-image: url(../../../images/cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    top: 3.5%;
    left: 91%;
}


.menu-right__navigetion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 13.1%;
    margin-top: 174px;
}

.menu-right__item {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
    padding-bottom: 28px;
    transition: border-bottom 1s ease;
}

.menu-right__item:hover {
    border-bottom: 1px solid black;
}

.menu-right__accounts {
    margin-top: 611px;
    text-align: center;
}

.menu-right__account {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: black;
}

@media screen and (max-width:425px) {
    .menu-right__main {
        width: 100%;
        height: 51%;
    }

    .menu-right__navigetion {
        margin-top: 144px;
        height: 12.5%;
    }

    .menu-right__close {
        top: 1.5%;
        left: 79%;
    }

    .menu-right__accounts {
        margin-top: 103.5%;
        text-align: center;
    }
}

@media screen and (max-width:320px) {

    .menu-right__navigetion {
        margin-top: 142px;
        height: 10.8%;
    }

    .menu-right__close {
        top: 1.4%;
        left: 83%;
    }

    .menu-right__accounts {
        margin-top: 435px;
        text-align: center;
    }

    .menu-right__item {
        padding-bottom: 25px;
    }
}