.up-title {
    width: 1140px;
    border-bottom:1px solid #A0A0A0;

}

.up-title_project {
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
}


.up-title_tekhnologies {
    margin: 0px 70px 0px 70px;
}

.up-title_about-me {
    margin: 110px 70px 0 70px;
}

.up-title__text {
    margin-top: 0px;
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26.63px;
    letter-spacing: -0.04em;
}





@media screen and (max-width:1279px) {
    .up-title {
        width: calc(100vw - 2 * 8.75vw);
        margin-left: auto;
        margin-right: auto;
    }
    .up-title_about-me {
        width: calc(100vw - 10vw);
        margin-top: 110px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:769px) {
    .up-title {
        width: 668px;
    }
}

@media screen and (max-width:767px) {
    .up-title {
        width: calc(100vw - 2 * 8.75vw);
       
    }
}

@media screen and (max-width:450px) {

    .up-title {
        width: 284px;
    }

    .up-title_project {
        margin-top: 70px;
    }

    .up-title_tekhnologies {
        margin: 0px 18px 0px 18px;
    }
    

    .up-title__text {
        font-size: 18px;
        line-height: 21.78px;
        margin-bottom: 28px;
    }
}


@media screen and (max-width:320px) {

    .up-title {
        width: 293px;
    }
}


