.movies {
    width: 364px;

}

.movies__title {
    text-align: left;
    font-weight: 500;
    font-size: 15px;
    line-height: 18.15px;
    margin-top: 23px;
    margin-left: 14px;
    margin-bottom: 10px;
}

.movies__time {
    margin-top: 0px;
    margin-left: 13px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13.31px;
}



@media screen and (max-width:1279px) {
    .movies {
        width: calc(364px - 10px)
    }
}

@media screen and (max-width:768px) {
    .movies__img {
        width: 339px;
        height: 190px;
    }
}

@media screen and (max-width:700px) {
    .movies {
       align-self: center;
       justify-self: center;
    }

    .movies__img {
        width: 300px;
        height: 168px;
    }
}

@media screen and (max-width:425px) {
    .movies {
       align-self: flex-start;
       justify-self: flex-start;
    }
}