.login {
    width: 1280px;
    display: flex;
    justify-content: center;
}

.auth-main__button_login {
    margin-top: 196px;
}
.login-main{
    margin-top: 56px;
    width: 396px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:1280px) {
    .login {
        width: calc(100vw - 2 * 3.75vw);
    }
}
