.login {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.login-main {
    margin-top: 56px;
    width: 396px;
    display: flex;
    flex-direction: column;
}

.auth__title_login {
    margin-left: 0px;
}



@media screen and (max-width:1280px) {
    .login {
        width: calc(100vw);
    }
}

@media screen and (max-width:600px) {
   

    .logo_login {
        margin-left: 64px;
    }

    .auth__title_login {
        margin-left: 64px;
    }
}

@media screen and (max-width:320px) {
   
    .logo_login {
        margin-left: 64px;
    }
    .auth__title_login {
        margin-left: 64px;
    }

    .auth__title_login {
       padding-left: 36px;
       padding-top: 3px;
    }
    .auth-main__text_login {
        text-align:start ;
        font-size: 12px;
        line-height: 14.52px;
        margin-top: 13px;
    }

  
}